<div class="container">
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="number1" placeholder="Numero 1">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="number2" placeholder="Numero 2">
  </mat-form-field>
  <mat-radio-group name="opciones" [(ngModel)]="selectedOperation">
    <mat-radio-button *ngFor="let item of typeOperations" [value]="item" style="margin: 10px;">
      {{ item }}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button (click)="calculate();" color="primary">
    Calcular
  </button>
  <h1><p>El resultado es: {{ result }}</p></h1>
</div>
