<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Alumnos IRIC
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <label class="form-label fw-bold">Filtrar por: </label>
          <input [(ngModel)]="filterList" class="form-control" name="filter" type="text">
        </div>
        <div class="col-md-12 py-3">
          <p class="form-label fw-bold">Filtro:</p>
          <p>{{ filterList }}</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table text-center" *ngIf="studentsIRIC.length">
          <thead>
            <tr>
              <th class="align-middle">
                Foto&nbsp;
                <button (click)="showImages();" class="btn btn-success rounded-pill btn-sm">
                  {{ showImage ? 'Ocultar' : 'Ver' }}
                </button>
              </th>
              <th class="align-middle">Matricula</th>
              <th class="align-middle">Nombre</th>
              <th class="align-middle">Edad</th>
              <th class="align-middle">Correo</th>
              <th class="align-middle">Pago</th>
              <th class="align-middle">Calificaci&oacute;n - {{ studentTitle }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of studentsIRIC | studentsFilter: filterList">
              <td>
                <img *ngIf="showImage" src="{{ item.photo }}" class="img-fluid object-fit-cover rounded-circle" [title] = "item.name" [style.width.px] = "imageWidth" [style.margin.px] = "imageMargin">
              </td>
              <td class="align-middle">{{ item.id }}</td>
              <td class="align-middle">{{ item.name | uppercase }}</td>
              <td class="align-middle">{{ item.age }}</td>
              <td class="align-middle">{{ item.email }}</td>
              <td class="align-middle">{{ item.payInscription | currency }}</td>
              <td class="align-middle">{{ item.grade }}</td>
              <td><app-students-grades (gradesClick)="onGradesClick($event)" [grades]="item.grade"></app-students-grades></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
